<!--<!DOCTYPE html >-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--  <meta charset="utf-8" />-->
<!--  <title>Accept a payment</title>-->
<!--  <meta name="description" content="A demo of a payment on Stripe" />-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1" />-->
<!--  <script src="https://js.stripe.com/v3/"></script>-->
<!--  <script src="script.js" defer></script>-->
<!--  <link rel="stylesheet" href="checkout.css" />-->
<!--  <script th:inline="javascript">-->
<!--    var stripePublicKey= /*[[${stripePublicKey}]]*/ null;-->

<!--  </script>-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash; placeholder for Elements &ndash;&gt;-->
<!--<form id="setup-form" th:data-secret="${client_secret}">-->
<!--  &lt;!&ndash;<input th:value="${client_secret}">&ndash;&gt;-->
<!--  <input id="cardholder-name" type="text">-->

<!--  <div id="card-element"></div>-->
<!--  <button id="card-button">-->
<!--    Save Card-->
<!--  </button>-->
<!--</form>-->
<!--</body>-->

<!--</html>-->